.list-group-item {
  padding: 0.5rem 1.25rem;
}

.list-group-item div {
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-group button {
  margin: 0.1rem 0rem;
}

.badge-width {
  min-width: 60px;
}
